<div id="ecp-app-footer">
  <footer class="main-footer">
    <div id="ecp-footer-bottom">
      <section class="footer-bottom">
        <div
          nz-row=""
          class="ant-row"
          style="margin-top: -12px; margin-bottom: -12px"
        >
          <article
            class="ant-col ant-col-12 ant-col-md-8 ant-col-lg-6"
            style="padding-top: 12px; padding-bottom: 12px"
          >
            <div id="ecp-app-logo" class="ecp-display">
              <a routerlink="/" class="footer-logo" href="/"
                ><img src="assets/img/logo.svg" alt="Airlift Express"
              /></a>
            </div>
            <ul class="footer-list">
              <li class="fl-item">
                <a href="/privacy-policy" target="_blank" class="fl-link">
                  Privacy Policy
                </a>
              </li>
              <li class="fl-item">
                <a href="/terms-conditions" target="_blank" class="fl-link">
                  Terms &amp; Conditions
                </a>
              </li>
              <li class="fl-item">
                <a href="/faqs" target="_blank" class="fl-link">FAQ’s</a>
              </li>
            </ul>
          </article>
          <article
            class="ant-col ant-col-12 ant-col-md-8 ant-col-lg-5"
            style="padding-top: 12px; padding-bottom: 12px"
          >
            <h2 class="footer-title">Cities</h2>
            <ul class="footer-list">
              <li class="fl-item">
                <a class="fl-link">Karachi</a>
              </li>
              <li class="fl-item">
                <a class="fl-link">Lahore</a>
              </li>
              <li class="fl-item">
                <a class="fl-link">Islamabad</a>
              </li>
              <li class="fl-item">
                <a class="fl-link">Faisalabad</a>
              </li>
              <li class="fl-item">
                <a class="fl-link">Gujranwala</a>
              </li>
              <li class="fl-item">
                <a class="fl-link">Sialkot</a>
              </li>
              <li class="fl-item">
                <a class="fl-link">Peshawar</a>
              </li>
            </ul>
          </article>
          <article
            class="ant-col ant-col-24 ant-col-md-8 ant-col-lg-6"
            style="padding-top: 12px; padding-bottom: 12px"
          >
            <h2 class="footer-title">Reach Out us at</h2>
            <ul class="footer-list">
              <li class="fl-item">
                <div class="text-accent font-weight-bold">Phone</div>
                <a href="tel:+923111222806">0311 1222806</a>
              </li>
              <li class="fl-item">
                <div class="text-accent font-weight-bold">Email</div>
                <a href="mailto:support@airliftexpress.com"
                  >support@airliftexpress.com</a
                >
              </li>
              <li class="fl-item">
                <div class="text-accent font-weight-bold">Working Days</div>
                <div>Mon - Sun / 9:00AM - 11:00PM</div>
              </li>
            </ul>
          </article>
          <div
            class="ant-col ant-col-24 ant-col-lg-7"
            style="padding-top: 12px; padding-bottom: 12px"
          >
            <article>
              <h2 class="footer-title">Download Our App</h2>
              <div>
                <a
                  href="https://play.google.com/store/apps/details?id=com.airlift.shop"
                  target="_blank"
                  ><img
                    src="assets/img/playstore.svg"
                    alt="Download Airlift App from Google Play" /></a
                ><a
                  href="https://apps.apple.com/pk/app/airlift-grocer/id1519472315"
                  target="_blank"
                  ><img
                    src="assets/img/applestore.svg"
                    alt="Download Airlift App from Apple Store"
                /></a>
              </div>
            </article>
            <article class="mt-2">
              <h2 class="footer-title mb-1">We Accept</h2>
              <div>
                <img src="assets/img/visa.svg" alt="Visa" class="mr-3" /><img
                  src="assets/img/cod.svg"
                  alt="Cash on Delivery"
                />
              </div>
            </article>
          </div>
        </div>
        <div class="footer-bar">
          <div class="footer-copyright">
            Copyright © 2021. All rights reserved.
          </div>
          <div class="footer-social">
            <a
              href="https://www.facebook.com/AirliftTechnologies"
              target="_blank"
              class="fs-link icon-facebook"
            ></a
            ><a
              href="https://www.instagram.com/airlift_tech"
              target="_blank"
              class="fs-link icon-instagram"
            ></a
            ><a
              href="https://www.linkedin.com/company/airlifttechnologies/"
              target="_blank"
              class="fs-link icon-linkedin"
            ></a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>
