<div id="ecp-app-side-panel">
  <aside class="layout-sider">
    <div>
      <nav class="products-nav">
        <div class="pn-title">Categories</div>
        <ul class="product-cat-menu">
          <li class="pcm-item ng-star-inserted">
            <a
              class="pcm-link"
              [routerLink]="['/category/', 'beverages']"
              routerLinkActive="active"
              >Beverages <i class="icon-arrow-right ae-icon"></i
            ></a>
          </li>

          <li class="pcm-item ng-star-inserted">
            <a
              class="pcm-link"
              routerLink="/category/frozen"
              [routerLink]="['/category/', 'frozen']"
              >Frozen <i class="icon-arrow-right ae-icon"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
