<div class="px-2 pt-2">
  <div id="ecp-breadcrumb">
    <div class="breadcrumb-wrap ng-star-inserted">
      <div id="nz-breadcrumb" class="ant-breadcrumb">
        <span id="nz-breadcrumb-item">
          <span class="ant-breadcrumb-link ng-star-inserted"
            ><a routerlink="/" href="/">Home</a></span
          ><span class="ant-breadcrumb-separator ng-star-inserted"
            ><i class="icon-arrow-right ng-star-inserted"></i
          ></span>
        </span>

        <span id="nz-breadcrumb-item" class="ng-star-inserted">
          <span class="ant-breadcrumb-link ng-star-inserted text-capitalize">
            {{ breadcrumb }}
          </span>
        </span>
      </div>
    </div>
  </div>

  <h1
    class="
      page-title
      font-20 font-weight-bold
      text-black
      mt-3
      mb-1
      text-capitalize
    "
  >
    {{ breadcrumb }}
  </h1>
</div>
