<div class="ng-star-inserted">
  <div id="ecp-product">
    <div class="product-card ng-star-inserted">
      <a
        class="cursor-pointer"
        href="/product-detail/qarshi-illachi-sharbat-i537?selected=1503"
        ><figure class="pc-figure">
          <img
            class="pc-img ng-star-inserted"
            src="https://media.airliftexpress.com/medium/e3b6dabf-25ea-45be-917d-71569c1734c6_woo.jpg"
            alt="Qarshi Sharbat Ilacheen 800ml"
          />
        </figure>
        <div class="pc-price">
          <div class="pc-cost ng-star-inserted">Rs. 280</div>
        </div>
        <div class="pc-rewards ng-star-inserted">
          <span class="pc-reward-times ng-star-inserted"> 3x </span
          ><img src="/assets/img/coin.svg" alt="" /> 840
        </div>
        <p
          nz-typography=""
          nzellipsis=""
          class="
            pc-title
            ant-typography
            ant-typography-ellipsis
            ant-typography-ellipsis-multiple-line
          "
          style="-webkit-line-clamp: 2"
        >
          Qarshi Sharbat Ilacheen 800ml
        </p></a
      >
      <div class="pc-spacer"></div>
      <button
        nz-button=""
        nztype="primary"
        nzghost=""
        nzblock=""
        class="
          pc-variety pc-variety-none
          ant-btn ant-btn-primary ant-btn-background-ghost ant-btn-block
        "
      >
        <span class="ng-star-inserted"> 800 ml </span></button
      ><button
        nz-button=""
        nztype="default"
        nzdanger=""
        nzblock=""
        class="
          pc-add-btn
          ant-btn ant-btn-dangerous ant-btn-block
          ng-star-inserted
        "
      >
        <span class="ng-star-inserted"> Add to Cart </span>
      </button>
    </div>
  </div>
</div>
