<div
  *ngIf="productList.length === 0 && !loading && errorMessage.length === 0"
  class="text-center mt-5 mb-5"
>
  <div class="font-highlight font-weight-light text-center text-capitalize">
    No products found!
  </div>
</div>

<div
  *ngIf="category == 'beverages'"
  ecp-category-chips
  class="ng-star-inserted"
>
  <div class="filter-tags-wrapper">
    <a class="ppl-nav icon-arrow2-left ng-star-inserted disabled"></a>
    <div class="filter-tags mt-2">
      <a
        class="ft-chip ng-star-inserted"
        id="chip-juices-instant-drinks"
        href="/product-category/beverages/juices-instant-drinks"
        ><figure class="ft-fig ng-star-inserted">
          <img
            src="https://airlift-grocer-production-uploads.s3.ap-southeast-1.amazonaws.com/grocer/609a7b6e-51b3-40e2-bb95-fbfc553494a0_34dcee2b-47e6-4412-9d47-89b96a346866_woo.png"
            alt="Juices &amp; Instant Drinks"
            class="ng-star-inserted"
          />
        </figure>
        <div class="ft-meta">
          <div class="ft-label">Juices &amp; Instant Drinks</div>
        </div></a
      ><a
        class="ft-chip ng-star-inserted"
        id="chip-soft-drinks"
        href="/product-category/beverages/soft-drinks"
        ><figure class="ft-fig ng-star-inserted">
          <img
            src="https://airlift-grocer-production-uploads.s3.ap-southeast-1.amazonaws.com/grocer/d63cb92b-30fd-4c24-940a-1fa483cb996a_2dc1e9be-173c-49d7-929c-3a5825612aee_woo.png"
            alt="Soft Drinks"
            class="ng-star-inserted"
          />
        </figure>
        <div class="ft-meta">
          <div class="ft-label">Soft Drinks</div>
        </div></a
      ><a
        class="ft-chip ng-star-inserted"
        id="chip-water"
        href="/product-category/beverages/water"
        ><figure class="ft-fig ng-star-inserted">
          <img
            src="https://airlift-grocer-production-uploads.s3.ap-southeast-1.amazonaws.com/grocer/7cd3278c-bbed-4c86-a645-8cf49f228c8b_5a713624-5dea-4e63-a963-65a696c1e9df_woo.png"
            alt="Water"
            class="ng-star-inserted"
          />
        </figure>
        <div class="ft-meta">
          <div class="ft-label">Water</div>
        </div></a
      ><a
        class="ft-chip ng-star-inserted"
        id="chip-tea-coffee"
        href="/product-category/beverages/tea-coffee"
        ><figure class="ft-fig ng-star-inserted">
          <img
            src="https://airlift-grocer-production-uploads.s3.ap-southeast-1.amazonaws.com/grocer/789d4824-4302-409c-b53d-b793e7ae4da1_44c8031a-03a2-4c87-bfa1-5d54dabd7488_woo.png"
            alt="Tea &amp; Coffee"
            class="ng-star-inserted"
          />
        </figure>
        <div class="ft-meta">
          <div class="ft-label">Tea &amp; Coffee</div>
        </div></a
      >
    </div>
    <a class="ppl-nav icon-arrow2-right ng-star-inserted disabled"></a>
  </div>
</div>

<div *ngIf="!isFirstLoad" class="product-listing-wrapper">
  <div
    ng-if="productList.length"
    *ngFor="let product of productList"
    class="plw-col ng-star-inserted"
  >
    <div id="ecp-product">
      <div
        class="product-card ng-star-inserted"
        [ngClass]="{ 'product-na': product.default.stock_quantity === 0 }"
      >
        <a
          class="cursor-pointer"
          href="{{
            '/product-detail/' +
              product.default.slug +
              '?selected=' +
              product.id
          }}"
          ><figure class="pc-figure">
            <img
              class="pc-img ng-star-inserted"
              src="{{
                product.default.image
                  ? product.default.image.src
                  : 'https://via.placeholder.com/150/EEE'
              }}"
              alt="{{ product.name }}"
            />
            <div
              class="pc-na ng-star-inserted"
              *ngIf="product.default.stock_quantity === 0"
            >
              Sold Out
            </div>
          </figure>
          <div class="pc-price">
            <div class="pc-cost ng-star-inserted">
              Rs. {{ product.default.price }}
            </div>
          </div>
          <div class="pc-rewards ng-star-inserted">
            <!-- <span class="pc-reward-times ng-star-inserted"> 3x </span> -->
            <img src="/assets/img/coin.svg" alt="" />
            {{ product.default.price }}
          </div>
          <p
            class="
              pc-title
              ant-typography
              ant-typography-ellipsis
              ant-typography-ellipsis-multiple-line
            "
            style="-webkit-line-clamp: 2"
          >
            {{ product.name }}
          </p></a
        >
        <div class="pc-spacer"></div>
        <button
          *ngIf="product.variations.length === 1"
          class="
            pc-variety pc-variety-none
            ant-btn ant-btn-primary ant-btn-background-ghost ant-btn-block
          "
        >
          <span class="ng-star-inserted">
            {{ product.variations[0].variation }}
          </span>
        </button>

        <button
          *ngIf="product.variations.length > 1"
          class="
            pc-variety
            ant-btn ant-btn-primary ant-btn-background-ghost ant-btn-block
          "
        >
          <span class="ng-star-inserted">
            {{ product.variations[0].variation }}
          </span>
        </button>

        <button
          class="
            pc-add-btn
            ant-btn ant-btn-dangerous ant-btn-block
            ng-star-inserted
          "
          [disabled]="product.default.stock_quantity === 0"
        >
          <span class="ng-star-inserted">
            {{
              product.default.stock_quantity > 0
                ? "Add to Cart"
                : "Out of Stock"
            }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading && isFirstLoad" class="loading text-center mt-5 mb-5">
  <div class="ant-spin ant-spin-spinning ant-spin-show-text">
    <span class="ant-spin-dot ant-spin-dot-spin ng-star-inserted"
      ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
      ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
    ></span>
    <div class="ant-spin-text ng-star-inserted">Loading Products</div>
  </div>
</div>

<div *ngIf="loading && !isFirstLoad" class="loading text-center mt-5 mb-5">
  <div class="ant-spin ant-spin-spinning ant-spin-show-text">
    <span class="ant-spin-dot ant-spin-dot-spin ng-star-inserted"
      ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
      ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
    ></span>
    <div class="ant-spin-text ng-star-inserted">Loading More Products</div>
  </div>
</div>

<div *ngIf="errorMessage.length > 0 && !loading">
  <div class="font-highlight font-weight-light text-center mt-5 mb-5">
    {{ errorMessage }}
  </div>
</div>

<div *ngIf="!isFirstLoad && productList.length" class="mt-4 mb-4">
  <button
    class="pc-add-btn ant-btn ant-btn-primary ant-btn-block ng-star-inserted"
    (click)="loadMoreProducts($event)"
    [disabled]="loading"
  >
    <span class="ng-star-inserted"> Load More Products </span>
  </button>
</div>
